body{
    color: rgb(255, 255, 255);
    background-color: rgb(118, 112, 172);
    font-family: " <link href="https://fonts.googleapis.com/css2?family=Coda:wght@400;800&display=swap" rel="stylesheet">

    margin: 50px;}

h1 {font-size: 40px;}

p{font-size: 20px;}

header{
    border-bottom: solid 2px rgb(179, 212, 255);
    padding: 20px;
    font-size: 25px;
    color: rgb(81, 104, 89);}

.chamada{
    background: rgb(144, 179, 148);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto {
    margin-right: 5%;
}

img {
  height: 200px;
}

.categoriavideos {
  display: flex;
  overflow-x: auto;
  gap: 10px;
}

section {
  padding-left: 20px;
  padding-right: 20px;
}

.categoriavideos img {
     opacity: 0.5;
}

.categoriavideos img:hover {
     opacity: 1.0;
}